body {
  background: white;
  margin: 10px;
}

body,
input {
  font-family: sans-serif;
  font-size: 10pt;
  color: black;
}

table {
  border-collapse: collapse;
  border: 0;
}

td {
  border: 0;
  padding: 0;
}
#status {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 100px;
  border: dashed 2px #999999;
  padding: 1em;
  line-height: 2em;
  text-align: center;
}
#body {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#input {
  margin-top: 0.5em;
}

#inbox .board {
  padding-top: 0.25em;
}

#nav {
  float: right;
  z-index: 99;
}

#error {
    color: red;
}
