<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>Yonmoku3D</title>
    <link rel="stylesheet" href="{{ static_url("board.css") }}" type="text/css"/>
  </head>
  <body>
    <div id="ThreeJS" style="z-index: 0; position: absolute; left:0px; top:0px"></div>
    <div id="body">
      <div id="info"></div>
      <button id="resetbutton">RESTART</button>
      <div id="inbox">
        {% module Template("board.html", board=board) %}
      </div>
      <div id="input">
	<div id="error"></div>
        <form method="post" id="moveform">
          <table>
	    <tr>
	      <td><input type="button" class="inputbutton" value="A1"/></td>
	      <td><input type="button" class="inputbutton" value="A2"/></td>
	      <td><input type="button" class="inputbutton" value="A3"/></td>
	      <td><input type="button" class="inputbutton" value="A4"/></td>
	    </tr>
	    <tr>
	      <td><input type="button" class="inputbutton" value="B1"/></td>
	      <td><input type="button" class="inputbutton" value="B2"/></td>
	      <td><input type="button" class="inputbutton" value="B3"/></td>
	      <td><input type="button" class="inputbutton" value="B4"/></td>
	    </tr>
	    <tr>
	      <td><input type="button" class="inputbutton" value="C1"/></td>
	      <td><input type="button" class="inputbutton" value="C2"/></td>
	      <td><input type="button" class="inputbutton" value="C3"/></td>
	      <td><input type="button" class="inputbutton" value="C4"/></td>
	    </tr>
	    <tr>
	      <td><input type="button" class="inputbutton" value="D1"/></td>
	      <td><input type="button" class="inputbutton" value="D2"/></td>
	      <td><input type="button" class="inputbutton" value="D3"/></td>
	      <td><input type="button" class="inputbutton" value="D4"/></td>
	    </tr>
          </table>
        </form>
      </div>
    </div>
    <script src="{{ static_url("three.min.js") }}"></script>
    <script src="{{ static_url("TrackballControls.js") }}"></script>
    <script src="{{ static_url("graphic.js") }}"></script>

    <script src="{{ static_url("jquery.min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("socket.js") }}" type="text/javascript"></script>
  </body>
</html>
